@import "tailwindcss";

/* Optional: Hide scrollbar for the carousel track */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}